.login__page {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    form {
        max-width: 350px;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 5px;
        padding: 20px;

        a {
            color: #3c8df7 !important;
        }

        &.register__form {
            label {
                height: 20px !important;
            }
        }
    }
}
