.order__details__page {
    .order__details__content {
        display: flex;
        align-items: flex-start;
        gap: 20px;

        .details {
            flex: 2.5;

            table {
                border-collapse: collapse;

                thead {
                    tr {
                        padding: 10px;
                        th {
                            padding-top: 10px;
                            padding-bottom: 10px;
                            padding-left: 10px;
                            padding-right: 10px;
                        }
                    }
                }

                tbody {
                    tr {
                        td {
                            padding-top: 10px;
                            padding-bottom: 10px;
                            padding-left: 10px;
                            padding-right: 10px;

                            h5 {
                                margin: 0;
                            }

                            div {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }

        .info {
            flex: 1;

            .delivery__truc__img {
                max-width: 150px;
                width: 100%;
                overflow: hidden;

                img {
                    width: 100%;
                    scale: 2;
                }
            }
        }
    }
}
